<!DOCTYPE HTML>
<html lang="en, ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NoteContent</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="SHORTCUT ICON" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1><img th:src="@{/images/NotePen.png}"><font size="10" face="comic sans ms">VENote</font></h1>

<a th:href="@{/noteList}"><img th:src="@{/images/back-arrow.png}" th:border="1px"></a>
<div id="element1">
    <p style="font: 18px Comic Sans MS">Название:
    <td th:text="${note.head}"></td>
    </p>
</div>
<div id="element2">
    <p style="font: 18px Comic Sans MS">Текст заметки:</p>
    <td style="font: 14px Comic Sans MS" th:text="${note.text}"></td>

</div>
</body>
</html>